.portfolio-section {
    background-color: var(--secondary-dark);
}

.portfolio-section h2 {
    color: white;
    margin-bottom: 5rem;
}

.portfolio-section h2 span {
    color: var(--light-green);
}

.website-container {
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.web-container {
    overflow: hidden;
    padding: 0.2rem;
}

.web-container:hover .website-description {
    top: 0;
}

.image-container {
    overflow: hidden;
}

.web-container:hover .image-container img {
    filter: blur(2px);
    transform: scale(1.1);
}

.website-description {
    background-color: var(--darkest);
    color: var(--red);
    height: 50px;
    position: absolute;
    top: -50px;
    transition: all 300ms ease-in-out;
    width: calc(100% - 0.4rem);
    z-index: 2;
}

.website-image {
    transition: all 300ms ease-in-out;
    width: 100%;
}

.website-icon {
    font-size: 2rem;
    margin: 0.5rem 0.3rem;
}