@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --darkest: #0f1a1f;
  --darkest-op: #0f1a1faf;
  --primary-dark: #142329;
  --secondary-dark: #1c3038;
  --red: #bc4749;
  --dark-green: #386641;
  --light-green: #a7c957;
  --secondary-green: #6a994e;
  --primary-light: #f0ece3;
  --secondary-light: #D99697;
  --neutral: #3e4046;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: var(--darkest);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--dark-green);
  /* border-radius: 6px; */
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-green);
}

body {
  background-color: var(--darkest);
}

#anim {
  position: relative;
  z-index: 1;
  top: 0;
  width: calc(100vw - 8px);
  height: 100vh;
}

a {
  text-decoration: none;
}

section {
  display: grid;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  padding: 6rem 9%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2.2rem;
}

h2 span {
  color: var(--red);
}